# Build
/target/

# Maven wrapper
/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings
.vscode/

# Logs
*.log

# Compilados
*.class
*.jar
*.war

# Arquivos de ambiente
.env